In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Superstore_raw.csv', encoding = 'windows-1252')
df.to_csv('Superstore_raw(utf-8).csv', index = False, encoding = 'utf-8')

In [3]:
df = pd.read_csv('Superstore_raw(utf-8).csv')

In [4]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [7]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [8]:
df['Shipping Days'] = (df['Ship Date'] - df['Order Date']).dt.days

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Shipping Days  9994 non-null   int64
dtypes: datetime64[ns](2), float64(3), int64(4), object(13)
memory usage: 1.7+ MB

In [10]:
df['Gross Revenue'] = df['Sales']/(1 - df['Discount'])
df['Profit Margin'] = df['Profit']/df['Sales']

In [11]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Days,Gross Revenue,Profit Margin
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,55190.379428,229.858001,3.789574,0.156203,28.656896,3.958175,286.565443,0.120314
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.000000,0.990000,-2.750000
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750,3.000000,21.360000,0.075000
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500,4.000000,64.960000,0.270000
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000,5.000000,251.910000,0.362500
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000,7.000000,45276.960000,0.500000
std,2885.163629,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108,1.747567,864.095772,0.466754

In [12]:
df.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
Shipping Days    0
Gross Revenue    0
Profit Margin    0
dtype: int64

In [13]:
df['Row ID'].nunique()

9994

In [14]:
print(f"Order ID: {df['Order ID'].str.isupper().sum()}")
print(f"Ship Mode: {df['Ship Mode'].str.istitle().sum()}")
print(f"Customer ID: {df['Customer ID'].str.isupper().sum()}")
print(f"Customer Name: {df['Customer Name'].str.istitle().sum()}")
print(f"Segment: {df['Segment'].str.istitle().sum()}")
print(f"Country: {df['Country'].str.istitle().sum()}")
print(f"City: {df['City'].str.istitle().sum()}")
print(f"State: {df['State'].str.istitle().sum()}")
print(f"Region: {df['Region'].str.istitle().sum()}")
print(f"Product ID: {df['Product ID'].str.isupper().sum()}")
print(f"Category: {df['Category'].str.istitle().sum()}")
print(f"Sub-Category: {df['Sub-Category'].str.istitle().sum()}")
print(f"Product Name: {df['Product Name'].str.istitle().sum()}")

Order ID: 9994
Ship Mode: 9994
Customer ID: 9951
Customer Name: 9648
Segment: 9994
Country: 9994
City: 9994
State: 9984
Region: 9994
Product ID: 9994
Category: 9994
Sub-Category: 9994
Product Name: 5407

In [15]:
print(df[df['Customer ID'].str.isupper() == False]['Customer ID'].value_counts())

Customer ID
Dp-13240    29
Co-12640     8
Dl-13600     6
Name: count, dtype: int64

In [16]:
df['Customer ID'] = df['Customer ID'].str.upper()

In [17]:
print(df[df['Customer Name'].str.istitle() == False]['Customer Name'].value_counts())

Customer Name
Dean percer               29
Anne McFarland            22
Suzanne McNair            22
Justin MacKendrick        19
Natalie DeCherney         18
Ross DeVincentis          16
Maris LaWare              15
Filia McAdams             15
Fred McMath               14
Christina DeMoss          13
Gene McClure              13
Christina VanderZanden    13
Muhammed MacIntyre        12
Alice McCarthy            12
Gary McGarr               11
Candace McMahon           10
Chris McAfee               8
Brian DeCherney            8
Eleni McCrary              7
MaryBeth Skach             7
Henry MacAllister          7
Chad McGuire               7
Lisa DeCherney             7
Charles McCrossin          7
Peter McVee                7
Liz MacKendrick            7
Dorris liebe               6
Susan MacKendrick          6
Paul MacIntyre             4
Ionia McGrath              4
Name: count, dtype: int64

In [18]:
df['Customer Name'] = df['Customer Name'].replace({'Dean percer' : 'Dean Percer', 'Dorris liebe' : 'Dorris Liebe'})

In [19]:
print(df[df['State'].str.istitle() == False]['State'].value_counts())

State
District of Columbia    10
Name: count, dtype: int64

In [20]:
print(df[df['Product Name'].str.istitle() == False]['Product Name'].value_counts())

Product Name
Staple envelope                                                              48
Easy-staple paper                                                            46
Staples in misc. colors                                                      19
Staple remover                                                               18
KI Adjustable-Height Table                                                   18
                                                                             ..
Canon imageCLASS MF7460 Monochrome Digital Laser Multifunction Copier         1
RCA ViSYS 25423RE1 Corded phone                                               1
Belkin 8 Outlet SurgeMaster II Gold Surge Protector with Phone Protection     1
Logitech Illuminated Ultrathin Keyboard with Backlighting                     1
Eldon Jumbo ProFile Portable File Boxes Graphite/Black                        1
Name: count, Length: 847, dtype: int64

In [21]:
df['Product Name'] = df['Product Name'].str.title()

In [22]:
product_check = df.groupby('Product Name')['Product ID'].unique()
not_unique = product_check[product_check.apply(len)>1]
print(not_unique)

Product Name
#10- 4 1/8" X 9 1/2" Recycled Envelopes                         [OFF-EN-10000461, OFF-EN-10000781]
Avery Non-Stick Binders                                         [OFF-BI-10004140, OFF-BI-10000829]
Easy-Staple Paper                                [OFF-PA-10000249, OFF-PA-10000474, OFF-PA-1000...
Eldon Wave Desk Accessories                                     [FUR-FU-10000023, FUR-FU-10003981]
Ki Adjustable-Height Table                                      [FUR-TA-10004086, FUR-TA-10001039]
Okidata C610N Printer                                           [TEC-MA-10003230, TEC-MA-10001856]
Peel & Seel Recycled Catalog Envelopes, Brown                   [OFF-EN-10003448, OFF-EN-10002592]
Prang Drawing Pencil Set                                        [OFF-AR-10003251, OFF-AR-10002766]
Staple Envelope                                  [OFF-EN-10001990, OFF-EN-10001415, OFF-EN-1000...
Staple Holder                                    [OFF-AP-10004249, OFF-AP-10002222, OFF-AP-1000...
Staple Magnet                                                   [OFF-ST-10003221, OFF-ST-10002562]
Staple Remover                                   [OFF-SU-10001225, OFF-SU-10001935, OFF-SU-1000...
Staple-Based Wall Hangings                                      [FUR-FU-10004351, FUR-FU-10001940]
Staples                                          [OFF-FA-10002780, OFF-FA-10002815, OFF-FA-1000...
Staples In Misc. Colors                          [OFF-AR-10001166, OFF-AR-10004790, OFF-AR-1000...
Storex Dura Pro Binders                                         [OFF-BI-10001922, OFF-BI-10004364]
Name: Product ID, dtype: object

In [23]:
product_map = (df.groupby('Product Name')['Product ID'].agg(lambda x: x.value_counts().index[0]).to_dict())
df['Product ID'] = df['Product Name'].map(product_map)

In [24]:
product_check2 = df.groupby('Product Name')['Product ID'].nunique()
product_check2[product_check2>1]

Series([], Name: Product ID, dtype: int64)

In [25]:
df['Product ID'].isna().sum()

0

In [26]:
print(df.groupby('Product Name')['Product ID'].value_counts())

Product Name                                          Product ID
"While You Were Out" Message Book, One Form Per Page  OFF-PA-10003424     3
#10 Gummed Flap White Envelopes, 100/Box              OFF-EN-10001137     4
#10 Self-Seal White Envelopes                         OFF-EN-10002312     4
#10 White Business Envelopes,4 1/8 X 9 1/2            OFF-EN-10004483     7
#10- 4 1/8" X 9 1/2" Recycled Envelopes               OFF-EN-10000461    10
                                                                         ..
Zebra Gk420T Direct Thermal/Thermal Transfer Printer  TEC-MA-10001695     1
Zebra Gx420T Direct Thermal/Thermal Transfer Printer  TEC-MA-10004002     3
Zebra Zazzle Fluorescent Highlighters                 OFF-AR-10003560     6
Zebra Zm400 Thermal Label Printer                     TEC-MA-10000045     2
Zipper Ring Binder Pockets                            OFF-BI-10000145    13
Name: count, Length: 1850, dtype: int64

In [27]:
df.to_csv('Superstore_clean.csv', index = False, encoding = 'utf-8')